* {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
}

body {
    color: transparent;
}

.navbar {
    color: #D0F2DF;
    display: flex;
    gap: 96px;
    padding: 30px 51px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.227);
    backdrop-filter: blur(15px);
}

.jumbotron1 button {
    font-weight: bold;
    color: #D0F2DF;
    background-color: #A60303;
    padding: 15px 130px;
    border-radius: 30px;
}

.background {
    background-image: url(/assets/mobile-legends-melissa-and-yin-hd-wallpaper-uhdpaper.com-648@1@f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron1 {
    height: 560px;
    width: 1153;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 92px 29px;
    gap: 50px;
}

.jumbotron1 p {
    color: #D0F2DF;
    font-size: 25px;
    text-align: center;
}

.jumbotron1 h1 {
    text-align: center;
    color: #D0F2DF;
    font-size: 55px;
}

.jumbotron2 {
    height: 786px;
    width: 1153;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 92px 29px;
    background-image: url(/assets/julian-mobile-legends-hd-wallpaper-uhdpaper.com-436@3@b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 107px;
}

.jumbotron2 p {
    color: #D0F2DF;
    font-size: 25px;
    text-align: center;
}

.jumbotron2 h2 {
    text-align: center;
    color: #D0F2DF;
    font-size: 55px;
}

.jumbotron2 button {
    font-weight: bold;
    color: #D0F2DF;
    background-color: #A60303;
    padding: 15px 130px;
    border-radius: 30px;
}

.tarjetas {
    padding: 30px 30px;
    background-color: #393939;
    height: 710px;
    width: 1153;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.atlas {
    background-color: #3d3d3fe3;
    display: flex;
    border-radius: 30;
    height: 634px;
    width: 353.67px;
    border-radius: 30px;
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
}

.atlas1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letrasa {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.atlas1 img {
    border-radius: 30px;
    height: 388px;
    width: 355px;
    background-size: cover;
    display: flex;
}

.atlas1 h3 {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.atlas1 p {
    font-size: 16px;
    font-weight: 100px;
    color: #D0F2DF;
}

.ROAMER p {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.ROAMER {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    color: #D0F2DF;
    font-size: 19px;
    gap: 50px;
}

.insigniasa {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.helcurt {
    background-color: #3d3d3fe3;
    display: flex;
    border-radius: 30;
    height: 634px;
    width: 353.67px;
    border-radius: 30px;
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
}

.helcurt1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letrash {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.helcurt1 img {
    border-radius: 30px;
    height: 388px;
    width: 355px;
    background-size: cover;
    display: flex;
}

.helcurt1 h3 {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.helcurt1 p {
    font-size: 16px;
    font-weight: 100px;
    color: #D0F2DF;
}

.JUNGLER p {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.JUNGLER {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    color: #D0F2DF;
    font-size: 19px;
    gap: 50px;
}

.insigniash {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.cici {
    background-color: #3d3d3fe3;
    display: flex;
    border-radius: 30;
    height: 634px;
    width: 353.67px;
    border-radius: 30px;
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
}

.cici1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letrasc {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cici1 img {
    border-radius: 30px;
    height: 388px;
    width: 355px;
    background-size: cover;
    display: flex;}

.cici1 h3 {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.cici1 p {
    font-size: 16px;
    font-weight: 100px;
    color: #D0F2DF;
}

.EXP p {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.EXP {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    color: #D0F2DF;
    font-size: 19px;
    gap: 50px;
}

.insigniasc {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.footer {
    background-color: #393939;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 9px 5px;

}

.lineas {
    color: #D0F2DF;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: normal;
    padding: 50px
}

.roles {
    color: #D0F2DF;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: normal;
    padding: 50px;
}

.MLBB{
    display: flex;
    flex-direction: row;
    padding: 28 5px;
} 

.MLBB img{
    height: 70px; ;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.MLBB h4{
    color: #D0F2DF;
    font-size: 27px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.play {
    display: flex;
    flex-direction: column;
    padding: 15px 100px;
    gap: 20px;
}