* {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    cursor: url(/assets/Mouse\ pointer.svg), auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

a {
    text-decoration: unset;
    color: #D0F2DF;
}

.navbar {
    height: auto;
    width: auto;
    color: #D0F2DF;
    display: flex;
    flex-direction: row;
    gap: 96px;
    padding: 30px 51px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.227);
    backdrop-filter: blur(15px);
}

.navbar li:hover{
    cursor: url(/assets/Mouse\ pointer.svg), auto;
    background-color: #393939;
    border: #393939;
    height: 50px;
    width: 100px;
    border-radius: 25%;
    color: #d0f2df90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    flex-direction: column;
    background-image: url(/assets/mobile-legends-melissa-and-yin-hd-wallpaper-uhdpaper.com-648@1@f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    height: 560px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 92px 29px;
    gap: 30px;
}

.jumbotron div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jumbotron p {
    color: #D0F2DF;
    font-size: 25px;
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
    color: #D0F2DF;
    font-size: 55px;
}

.jumbotron button {
    font-weight: bold;
    color: #D0F2DF;
    background-color: #A60303;
    padding: 15px 130px;
    border-radius: 30px;
}

.jumbotron button:hover {
    cursor: url(/assets/Mouse\ pointer.svg), auto;
    background-color: #540000;
    color: #d0f2df90;
}

.jumbotron2 {
    height: 786px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 92px 29px;
    background-image: url(/assets/julian-mobile-legends-hd-wallpaper-uhdpaper.com-436@3@b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 107px;
}

.jumbotron2 p {
    color: #D0F2DF;
    font-size: 25px;
    text-align: center;
}

.jumbotron2 h2 {
    text-align: center;
    color: #D0F2DF;
    font-size: 55px;
}

.jumbotron2 button {
    font-weight: bold;
    color: #D0F2DF;
    background-color: #A60303;
    padding: 15px 130px;
    border-radius: 30px;
}

.jumbotron2 button:hover {
    cursor: url(/assets/Mouse\ pointer.svg), auto;
    background-color: #540000;
    color: #d0f2df90;
} 

.tarjetas {
    box-sizing: border-box;
    padding: 30px 30px;
    background-color: #393939;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.tarjeta {
    height: 653px;
    width: 100%;
    background-color: #3d3d3fe3;
    display: flex;
    border-radius: 30;
    height: auto;
    width: 100%;
    border-radius: 30px;
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
}

.in {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1px 1px;
}

.letras {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.in img {
    border-radius: 30px;
    height: 388px;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.in h3 {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.in p {
    font-size: 16px;
    font-weight: 100px;
    color: #D0F2DF;
}

.rol p {
    font-size: 30px;
    font-weight: bold;
    color: #D0F2DF;
}

.rol {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    color: #D0F2DF;
    font-size: 19px;
    gap: 50px;
}

.insignias {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.footer {
    height: 249px;
    width: auto;
    background-color: #393939;
    display: flex;
    flex-direction: row;
    gap: 44px;
    padding: 30px 34px;
    align-items: center;
    justify-content: center;

}

.especifico {
    display: flex;
    flex-direction: row;
    width: 312px;
    height: 189px;
    gap: 22px;
    padding: 5px 5px;
    align-items: center;
}

.sub {
    align-items: center;
    height: 145px;
    width: 189px;
    color: #D0F2DF;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: normal;
    gap: 10px;
}

.sub ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sub div li {
    font-weight: bold;
}


.MLBB {
    height: 189px;
    width: 284px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    gap: 11px;
}

.MLBB img {
    height: 70px;
    ;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.MLBB h4 {
    font-weight: bolder;
    color: #D0F2DF;
    font-size: 27px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.play {
    display: flex;
    flex-direction: column;
    padding: unset;
    gap: 10px;
    height: 189px;
    width: 401px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.play img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 220px;
}

.play img:hover {
    opacity: .5;

}